@page "/itens"
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager

<div class="row alert alert-info mb-3" role="alert">
    <h1 class="h4">Cadastro de Itens</h1>
</div>

<div class="d-grid gap-1 d-md-block mb-3">
    <button type="button" class="btn btn-primary" @onclick="@BtnAdicionar">
        <span class="oi oi-plus"></span> ADICIONAR
    </button>
</div>

<div class="row mb-3">
    @if (dtosRead.Any())
    {
        <table class="table table-hover table-responsive mb-3">
            <thead class="table-secondary">
                <tr>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Observação</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dto in dtosRead)
                {
                    <tr>
                        <td>@dto.Id</td>
                        <td>@dto.Codigo @dto.Descricao</td>
                        <td>@dto.Tipo</td>
                        <td>
                            <button type="button" class="btn btn-primary" @onclick="@(e => BtnEdit(dto))">
                                <span class="oi oi-pencil"></span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>aguarde...</h4>
    }
</div>

<LoggerErroComponent MessageErro="@MessageErro" />

@code {

    private string MessageErro { get; set; } = string.Empty;
    private List<ItemDtoRead> dtosRead { get; set; } = new();

    protected override async void OnInitialized()
    {
        var response = await _httpClient.GetFromJsonAsync<IList<ItemDtoRead>>("item");
        if (response != null)
        {
            dtosRead.AddRange(response.ToArray());
        }
        else
        {
            MessageErro = "Não foi possível obter os itens";
        }
        StateHasChanged();
    }

    public void BtnAdicionar()
    {
        _navigationManager.NavigateTo("item");
    }

    public void BtnEdit(ItemDtoRead dto)
    {
        _navigationManager.NavigateTo($"item/{dto.Id}");
    }

}
