@page "/saida"
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject IJSRuntime js

<div class="row alert alert-info mb-3" role="alert">
    <p class="h4 mb-3"><span class="oi oi-cart" /> Registrar Pedido</p>

    @if (!string.IsNullOrEmpty(BarracaDtoRead.Nome))
    {
        <p class="h6 mb-1">
            @BarracaDtoRead.Nome
        </p>
    }
</div>

<div class="row mb-3">
    @if (formOnLoad)
    {
        <EditForm Model="@ItemSaidaDtoCreate" OnValidSubmit="@BtnAdicionar">
            <div class="mb-3" style="display:@displayNone">
                <input class="form-control form-select-lg mb-3" list="DataListBarracaOptions" id="DataListBarrca" placeholder="Selecione uma Barraca..." @onchange="@((args) => SelectBarraca(args.Value))">
                <datalist id="DataListBarracaOptions">
                    @foreach (var dto in BarracasDtoRead)
                    {
                        <option value="@dto.ToString()">@dto.ToString()</option>
                    }
                </datalist>
            </div>

            @if (displayNone == "none")
            {
                <div class="mb-3">
                    @if (ItensDtoRead.Any())
                    {
                        <input class="form-control form-select-lg mb-3" list="DataListItemOptions" id="DataListItem" placeholder="Selecione um Item..." @onchange="@((@args) => SelectItem(args.Value))">
                        <datalist id="DataListItemOptions">
                            @foreach (var dto in ItensDtoRead)
                            {
                                <option value="@dto.ToString()">@dto.ToString()</option>
                            }
                        </datalist>
                    }
                </div>

                <div class="mb-3" style="display:none">
                    <label for="@nameof(ItemSaidaDtoCreate.NomeCompleto)" class="form-label">Produto</label>
                    <InputText class="form-control" id="@nameof(ItemSaidaDtoCreate.NomeCompleto)" @bind-Value="ItemSaidaDtoCreate.NomeCompleto" />
                </div>

                <div class="mb-3">
                    <UnidadeMedida @bind-Unidade="ItemSaidaDtoCreate.Unidade" />
                </div>

                <div class="mb-3">
                    <label for="@nameof(ItemSaidaDtoCreate.Quantidade)" class="form-label">Quantidade</label>
                    <InputNumber class="form-control" id="@nameof(ItemSaidaDtoCreate.Quantidade)" @bind-Value="ItemSaidaDtoCreate.Quantidade" />
                </div>

                <div class="mb-3">
                    <label for="@nameof(ItemSaidaDtoCreate.Observacao)" class="form-label">Descricão</label>
                    <InputTextArea class="form-control" rows="3" id="@nameof(ItemSaidaDtoCreate.Observacao)" @bind-Value="ItemSaidaDtoCreate.Observacao" />
                </div>

                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="d-grid gap-2 d-md-block mb-3">
                    <button type="submit" class="btn btn-success mb-3">
                        <span class="oi oi-circle-check"></span>
                    </button>
                    <button type="button" class="btn btn-danger mb-3" @onclick="@BtnClear">
                        <span class="oi oi-ban"></span>
                    </button>
                </div>

            }
        </EditForm>
        @if (ItensSaidaDtoCreate.Any())
        {
            <div class="alert alert-info d-flex align-items-center mb-3" role="alert">
                <p class="h6  mb-1">
                    <span class="oi oi-comment-square" /> <strong>Itens do Pedido</strong>  Atenção: Click em Salvar, para concluir a operação!
                </p>

            </div>

            <table class="table table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th>Item</th>
                        <th>Unidade</th>
                        <th>Quantidade</th>
                        <th>Obs.</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dto in ItensSaidaDtoCreate)
                    {
                        <tr>
                            <td>@dto.NomeCompleto</td>
                            <td>@dto.Unidade</td>
                            <td>@dto.Quantidade</td>
                            <td>@dto.Observacao</td>
                            <td>
                                @* <button type="button" class="btn btn-primary" @onclick="@(e => BtnEditar(dto))">
                    <span class="oi oi-pencil"></span>
                    </button>*@
                                <button type="button" class="btn btn-danger" @onclick="@(e => BtnRemove(dto))">
                                    <span class="oi oi-trash" />
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        }
    }
    else
    {
        <h4>aguarde...</h4>
    }
</div>


<div class="d-grid gap-2 d-md-block mb-3">
    @if (ItensSaidaDtoCreate.Any())
    {
        <button type="submit" class="btn btn-primary mb-3" @onclick="@BtnSalvarAsync">
            <span class="oi oi-circle-check"></span> SALVAR
        </button>
    }
    <button type="button" class="btn btn-danger mb-3" @onclick="@BtnCancelar">
        <span class="oi oi-account-logout"></span> SAIR
    </button>
</div>

<LoggerErroComponent MessageErro="@MessageErro" />

@code {

    private bool formOnLoad = false;
    private string displayNone = string.Empty;
    private string MessageErro { get; set; } = string.Empty;

    public ItemSaidaDtoCreate ItemSaidaDtoCreate { get; set; } = new() { DtSaida = DateTime.Now, Unidade = "UND", Quantidade = 1 };
    public List<ItemSaidaDtoCreate> ItensSaidaDtoCreate { get; set; } = new();

    public ItemDtoRead ItemReadDto { get; set; } = new();
    public List<ItemDtoRead> ItensDtoRead { get; set; } = new();

    public BarracaDtoRead BarracaDtoRead { get; set; } = new();
    public List<BarracaDtoRead> BarracasDtoRead { get; set; } = new();

    protected override async void OnInitialized()
    {
        formOnLoad = false;

        var barracasDtoRead = await _httpClient.GetFromJsonAsync<IList<BarracaDtoRead>>("barraca");
        if (barracasDtoRead.Any())
            BarracasDtoRead.AddRange(barracasDtoRead.ToArray());

        var itensDtoRead = await _httpClient.GetFromJsonAsync<IList<ItemDtoRead>>("item");
        if (itensDtoRead.Any())
            ItensDtoRead.AddRange(itensDtoRead.ToArray());


        formOnLoad = true;

        StateHasChanged();
    }

    public void SelectItem(object value)
    {
        if (string.IsNullOrWhiteSpace(value.ToString()))
            return;

        var id = int.Parse(value.ToString().Split(" ")[0].ToString());
        ItemReadDto = ItensDtoRead.FirstOrDefault(i => i.Id == id);
        ItemSaidaDtoCreate.ItemId = ItemReadDto.Id;
        ItemSaidaDtoCreate.NomeCompleto = ItemReadDto.ToString();
    }

    public void SelectBarraca(object value)
    {
        if (string.IsNullOrWhiteSpace(value.ToString()))
            return;

        var id = int.Parse(value.ToString().Split(" ")[0].ToString());
        BarracaDtoRead = BarracasDtoRead.FirstOrDefault(i => i.Id == id);
        ItemSaidaDtoCreate.BarracaId = BarracaDtoRead.Id;

        displayNone = "none";
    }

    private void BtnAdicionar()
    {
        if (!ItensSaidaDtoCreate.Contains(ItemSaidaDtoCreate))
            ItensSaidaDtoCreate.Add(ItemSaidaDtoCreate);

        BtnClear();
    }

    private void BtnClear()
    {
        ItemReadDto = new();
        ItemSaidaDtoCreate = new() { DtSaida = DateTime.Now, Unidade = "UND", Quantidade = 1, BarracaId = BarracaDtoRead.Id };
        OnFocus("DataListItem");
    }

    private void BtnClearAll()
    {
        BtnClear();
        ItensSaidaDtoCreate = new();
    }

    private void BtnRemove(ItemSaidaDtoCreate dto)
    {
        ItensSaidaDtoCreate.Remove(dto);
    }

    private void BtnEditar(ItemSaidaDtoCreate dto)
    {
        ItemSaidaDtoCreate = dto;
        StateHasChanged();
    }

    private void BtnCancelar()
    {
        _navigationManager.NavigateTo("home");
    }

    private async Task BtnSalvarAsync()
    {
        var response = await _httpClient.PostAsJsonAsync<IList<ItemSaidaDtoCreate>>("itemSaida/list", ItensSaidaDtoCreate);
        if (response.IsSuccessStatusCode)
        {
            _navigationManager.NavigateTo("home");
        }
        else
        {
            MessageErro = "Erro ao salvar";
        }
        StateHasChanged();
    }

    public async Task OnFocus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }
}
