@page "/entrada"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime js
<h3>Registrar Entrada</h3>
<br />
@if (onLoad)
{
    <EditForm Model="@ItemEntrada" OnValidSubmit="@Add">
        <div class="mb-3">
            @if (ItensDtos.Any())
            {
                <input class="form-control form-select-lg mb-3" onfocus="this.value=''" list="DataListItemOptions" id="DataListItem" placeholder="Selecione um Item..." @onchange="@((@args) => SelectItem(args.Value))">
                <datalist id="DataListItemOptions">
                    @foreach (ItemDtoRead item in ItensDtos)
                    {
                        <option value="@item.ToString()">@item.ToString()</option>
                    }
                </datalist>
            }
        </div>

        <div class="mb-3" style="display:none">
            <label for="@nameof(ItemEntrada.NomeCompleto)" class="form-label">Produto</label>
            <InputText class="form-control" id="@nameof(ItemEntrada.NomeCompleto)" @bind-Value="ItemEntrada.NomeCompleto" />
        </div>
        <div class="mb-3">
            <label for="@nameof(ItemEntrada.DtEntrada)" class="form-label">Data</label>
            <InputDate class="form-control" id="@nameof(ItemEntrada.DtEntrada)" @bind-Value="ItemEntrada.DtEntrada" />
        </div>
        <div class="mb-3">
            <label for="@nameof(ItemEntrada.Unidade)" class="form-label">Unidade de Medida</label>
            <InputText class="form-control" id="@nameof(ItemEntrada.Unidade)" @bind-Value="ItemEntrada.Unidade" />
        </div>
        <div class="mb-3">
            <label for="@nameof(ItemEntrada.Quantidade)" class="form-label">Quantidade</label>
            <InputNumber class="form-control" id="@nameof(ItemEntrada.Quantidade)" @bind-Value="ItemEntrada.Quantidade" />
        </div>
        <div class="mb-3">
            <label for="@nameof(ItemEntrada.Observacao)" class="form-label">Descricão</label>
            <InputTextArea class="form-control" rows="3" id="@nameof(ItemEntrada.Observacao)" @bind-Value="ItemEntrada.Observacao" />
        </div>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Adicionar</button>
            <button type="button" class="btn btn-primary" @onclick="@Clear">Limpar</button>
        </div>
    </EditForm>
    <br />

    <table class="table">
        <thead class="table-primary">
            <tr>
                <th>Data Entrada</th>
                <th>Item</th>
                <th>Unidade</th>
                <th>Quantidade</th>
                <th>Obs.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemDto in ItensEntradaCreateDto)
            {
                <tr>
                    <td>@itemDto.DtEntrada</td>
                    <td>@itemDto.NomeCompleto</td>
                    <td>@itemDto.Unidade</td>
                    <td>@itemDto.Quantidade</td>
                    <td>@itemDto.Observacao</td>
                    <td>
                        <button type="button" class="btn btn-primary" @onclick="@(e => Remove(itemDto))">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <div class="d-grid gap-2 d-md-block">
        <button type="button" class="btn btn-primary" @onclick="@SalvarAsync">Salvar </button>
    </div>
    <br />
}
else
{
    <br />
    <h4>aguarde...</h4>
}

@if (!string.IsNullOrWhiteSpace(MessageErro))
{
    <div class="border-1 alert-warning">
        <p>@MessageErro</p>
    </div>
}

@code {

    private bool onLoad = false;
    private string displayNone;
    private string MessageErro { get; set; }

    public ItemEntradaDtoCreate ItemEntrada { get; set; } = new() { DtEntrada = DateTime.Now, Unidade = "UND", Quantidade = 1 };
    public List<ItemEntradaDtoCreate> ItensEntradaCreateDto { get; set; } = new();

    public ItemDtoRead ItemReadDto { get; set; } = new();
    public List<ItemDtoRead> ItensDtos { get; set; } = new();

    private void Add()
    {
        if (!ItensEntradaCreateDto.Contains(ItemEntrada))
            ItensEntradaCreateDto.Add(ItemEntrada);

        Clear();
    }

    protected override async void OnInitialized()
    {
        onLoad = false;
        var itensReadDtos = await HttpClient.GetFromJsonAsync<IList<ItemDtoRead>>("item");

        if (itensReadDtos.Any())
            ItensDtos.AddRange(itensReadDtos.ToArray());

        onLoad = true;
        StateHasChanged();
    }

    public void SelectItem(object value)
    {
        if (string.IsNullOrWhiteSpace(value.ToString()))
            return;

        var id = int.Parse(value.ToString().Split(" ")[0].ToString());
        ItemReadDto = ItensDtos.FirstOrDefault(i => i.Id == id);
        ItemEntrada.ItemId = ItemReadDto.Id;
        ItemEntrada.NomeCompleto = ItemReadDto.ToString();
    }


    private async Task SalvarAsync()
    {
        var response = await HttpClient.PostAsJsonAsync<IList<ItemEntradaDtoCreate>>("itemEntrada", ItensEntradaCreateDto);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("home");
        }
        MessageErro = await response.Content.ReadAsStringAsync();
        StateHasChanged();
    }

    private void Remove(ItemEntradaDtoCreate itemDto)
    {
        ItensEntradaCreateDto.Remove(itemDto);
    }

    private void Clear()
    {
        ItemReadDto = new();
        ItemEntrada = new() { DtEntrada = DateTime.Now, Unidade = "UND", Quantidade = 1 };
        Focus("DataListItem");
    }

    private void ClearAll()
    {
        Clear();
        ItensEntradaCreateDto = new();
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }
}
